In [1]:
import numpy as np
import pandas as pd

#### Q1. Slicing

In [2]:
x = np.array([[1,2,3,4],
[4,5,6,7],
[8,9,0,1]])
x

array([[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 0, 1]])

In [4]:
x[:,[0,3]]

array([[1, 4],
       [4, 7],
       [8, 1]])

#### Q2. Slicing

In [9]:
df = pd.DataFrame([(1, 2, 3, 4, 5), (6, 7, 8, 9, 10), (11, 12, 13,
14, 15)])
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [8]:
# The following 2 lines prove that label-based indexing is inclusive; while positional indexing is exclusive
df.loc[1:2]

    0   1   2   3   4
1   6   7   8   9  10
2  11  12  13  14  15

In [10]:
df.iloc[1:2]

   0  1  2  3   4
1  6  7  8  9  10

#### Q3. Python 2 and Python 3 differences in divide behavior

In [20]:
x = np.array([[1,2,3],[5,6,7]], dtype='int')
y = np.array(x/2)
x[1,0] = 0
print(y.sum(axis=1)[-1])

9.0