In [1]:
import numpy as np
import pandas as pd

Desired

```
  a                b
  
 val 1 | val 2 | val 1 | val 2
 
  1    |   2   |  4    |   4

```

In [2]:
df = pd.DataFrame({'name':['a','b'], 'val_1':[1,4],'val_2':[2,4]})
df

  name  val_1  val_2
0    a      1      2
1    b      4      4

In [21]:
# This does not work
df.pivot(index=None, columns='name', values=['val_1','val_2'])

     val_1      val_2
name     a    b     a    b
0      1.0  NaN   2.0  NaN
1      NaN  4.0   NaN  4.0

In [30]:
# Solution
df.set_index('name').transpose().unstack().to_frame().T

name     a           b
     val_1 val_2 val_1 val_2
0        1     2     4     4