## Santander Value Prediction Challenge
#### Predict the value of transactions for potential customers.

According to Epsilon research, 80% of customers are more likely to do business with you if you provide personalized service. Banking is no exception.

The digitalization of everyday lives means that customers expect services to be delivered in a personalized and timely manner… and often before they´ve even realized they need the service. In their 3rd Kaggle competition, Santander Group aims to go a step beyond recognizing that there is a need to provide a customer a financial service and intends to determine the amount or value of the customer's transaction. This means anticipating customer needs in a more concrete, but also simple and personal way. With so many choices for financial services, this need is greater now than ever before.

In this competition, Santander Group is asking Kagglers to help them identify the value of transactions for each potential customer. This is a first step that Santander needs to nail in order to personalize their services at scale.


The evaluation metric for this competition is Root Mean Squared Logarithmic Error.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import kurtosis
from math import sqrt
from sklearn.metrics import mean_squared_error 

%matplotlib inline

import gc

In [2]:
for p in [np, pd, sns]:
    print(p.__version__)

1.14.3
0.23.0
0.8.1

### Feature Engineering

1. Concatenate the train and test data together to ensure range consistency
2. Remove columns with zero standard deviation in the train dataset from both dataset
3. Normalize the features to 0 - 1 range using minmaxscaler
4. For each row, add mean, std dev, median, maximum.
5.

### Read the data

In [3]:
train = pd.read_csv("../data/train.csv.zip")
train.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0028cbf45,2000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,002a68644,14400000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Columns: 4993 entries, ID to 9fc776466
dtypes: float64(1845), int64(3147), object(1)
memory usage: 169.9+ MB

In [5]:
# Test Dataset
test = pd.read_csv("../data/test.csv.zip")
test.head()

,ID,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000137c73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00021489f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0004d7953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00056a333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00056d8eb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
FEATURES = ['f190486d6', '58e2e02e6', 'eeb9cd3aa', '9fd594eec', '6eef030c1', 
            '15ace8c9f', 'fb0f5dbfe', '58e056e12', '20aa07010', '024c577b9', 
            'd6bb78916', 'b43a7cfd5', '58232a6fb', '1702b5bf0', '324921c7b', 
            '62e59a501', '2ec5b290f', '241f0f867', 'fb49e4212', '66ace2992', 
            'f74e8f13d', '5c6487af1', '963a49cdc', '26fc93eb7', '1931ccfdd', 
            '703885424', '70feb1494', '491b9ee45', '23310aa6f', 'e176a204a', 
            '6619d81fc', '1db387535', 'fc99f9426', '91f701ba2', '0572565c2', 
            '190db8488', 'adb64ff71', 'c47340d97', 'c5a231d81', '0ff32eb98']
    
def get_pred(data, lag=2):
    d1 = data[FEATURES[:-lag]].apply(tuple, axis=1).to_frame().rename(columns={0: 'key'})
    d2 = data[FEATURES[lag:]].apply(tuple, axis=1).to_frame().rename(columns={0: 'key'})
    d2['pred'] = data[FEATURES[lag - 2]]
    d2 = d2[d2.pred != 0]
    d3 = d2[~d2.duplicated(['key'], keep=False)]
    return d1.merge(d3, how='left', on='key').pred.fillna(0)

In [8]:
def get_all_pred(data, max_lag):
    target = pd.Series(index=data.index, data=np.zeros(data.shape[0]))
    for lag in range(2, max_lag + 1):
        pred = get_pred(data, lag)
        mask = (target == 0) & (pred != 0)
        target[mask] = pred[mask]
    return target

In [13]:
for max_lag in range(2, 5):
    pred_train = get_all_pred(train, max_lag)
    have_data = pred_train != 0
    print(f'Max lag {max_lag}: Score = {sqrt(mean_squared_error(np.log1p(train.target[have_data]), np.log1p(pred_train[have_data])))} on {have_data.sum()} out of {train.shape[0]} training samples')

Max lag 2: Score = 0.14151594656341263 on 1358 out of 4459 training samples
Max lag 3: Score = 0.14241434561746488 on 1958 out of 4459 training samples
Max lag 4: Score = 0.18436867496270792 on 2352 out of 4459 training samples

In [32]:
subset = train.loc[:1000, FEATURES]
subset

,f190486d6,58e2e02e6,eeb9cd3aa,9fd594eec,6eef030c1,15ace8c9f,fb0f5dbfe,58e056e12,20aa07010,024c577b9,...,6619d81fc,1db387535,fc99f9426,91f701ba2,0572565c2,190db8488,adb64ff71,c47340d97,c5a231d81,0ff32eb98
0,1866666.66,12066666.66,7.000000e+05,600000.00,900000.0,4100000.0,0.00,0.00,0.0,0.00,...,400000.0,0.0,0.00,5000000.00,400000.0,0.00,0.00,0.00,0.00,0.00
1,0.00,2850000.00,2.225000e+06,1800000.00,800000.0,0.0,0.00,3300000.00,2200000.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
2,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,6000000.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
3,2000000.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
4,0.00,0.00,0.000000e+00,0.00,37662000.0,0.0,4000000.00,6700000.00,2000000.0,5400000.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,8000000.00,0.00,0.00
5,0.00,0.00,2.800000e+06,17000000.00,0.0,556000.0,0.00,0.00,17020000.0,17020000.00,...,17020000.0,17020000.0,17020000.00,17020000.00,17020000.0,17020000.00,17020000.00,17020000.00,17020000.00,17020000.00
6,10000.00,4000.00,0.000000e+00,30000.00,0.0,0.0,0.00,4000.00,0.0,2000.00,...,0.0,6000.0,0.00,14000.00,0.0,22000.00,6000.00,15000.00,360000.00,18000.00
7,0.00,0.00,0.000000e+00,65000000.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
8,3333333.34,3925333.34,4.000000e+06,0.00,0.0,0.0,58000.00,58000.00,58000.0,58000.00,...,58000.0,58000.0,58000.00,58000.00,58000.0,58000.00,58000.00,58000.00,58000.00,58000.00
9,7500000.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,1100000.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
10,0.00,8300000.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,11000000.00,0.00,0.00
11,11200000.00,0.00,0.000000e+00,0.00,6800000.0,2800000.0,0.00,0.00,0.0,600000.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
12,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,156000.00,0.0,200000.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
13,3300000.00,0.00,8.800000e+06,0.00,0.0,0.0,0.00,0.00,0.0,24600000.00,...,0.0,0.0,200000.00,0.00,1100000.0,3200000.00,5600000.00,25020000.00,0.00,0.00
14,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
15,0.00,0.00,0.000000e+00,72000.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
16,20000.00,200000.00,4.000000e+05,0.00,0.0,0.0,0.00,0.00,7000.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
17,700000.00,0.00,0.000000e+00,788000.00,0.0,0.0,0.00,1600000.00,0.0,10000000.00,...,1000000.0,6000000.0,2900000.00,11000000.00,20000000.0,1000000.00,0.00,0.00,6000000.00,4433333.34
18,0.00,2324000.00,2.580000e+06,0.00,0.0,0.0,1700000.00,0.00,0.0,52820000.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,2842000.00,0.00
19,2000000.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,1040000.0,0.00,0.00,0.00,0.00,0.00
20,700000.00,0.00,0.000000e+00,0.00,0.0,700000.0,0.00,0.00,0.0,0.00,...,0.0,3000000.0,0.00,0.00,0.0,0.00,1800000.00,3600000.00,0.00,0.00
21,800000.00,0.00,1.279700e+07,0.00,0.0,0.0,0.00,0.00,0.0,4000000.00,...,2000000.0,0.0,20325000.00,6000000.00,0.0,1200000.00,0.00,11540000.00,0.00,36000000.00
22,3587000.00,11515142.86,1.253371e+07,10849666.66,16564400.0,5198000.0,18383714.28,15541142.86,3422500.0,3028000.00,...,1493200.0,1238000.0,837200.00,8567333.34,1190000.0,695333.34,726000.00,1140666.66,1809333.34,0.00
23,0.00,3665000.00,0.000000e+00,600000.00,4098000.0,1148000.0,0.00,0.00,3069000.0,3824666.66,...,34738000.0,0.0,17057333.34,3090000.00,2590000.0,2575000.00,6420000.00,1408000.00,3000000.00,33351333.34
24,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
25,19000.00,0.00,0.000000e+00,0.00,0.0,0.0,58000.00,0.00,0.0,0.00,...,238000.0,0.0,0.00,0.00,17000.0,28000.00,132000.00,8000.00,0.00,6000.00
26,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,16000000.0,300000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
27,0.00,52820000.00,1.630000e+06,0.00,0.0,0.0,0.00,200000.00,0.0,0.00,...,2842000.0,0.0,7495000.00,0.00,0.0,1060000.00,0.00,0.00,0.00,0.00
28,500000.00,190000.00,3.644444e+05,0.00,0.0,400000.0,0.00,200000.00,0.0,0.00,...,788000.0,0.0,0.00,0.00,1600000.0,0.00,10000000.00,2100000.00,0.00,0.00
29,0.00,0.00,9.300000e+06,8000000.00,37134000.0,0.0,0.00,0.00,0.0,22800000.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,0.00,1050000.00,1.000000e+06,36986000.00,0.0,0.0,1200000.00,0.00,600000.0,3690666.66,...,350000.0,860000.0,160000.00,10200000.00,0.0,0.00,3320000.00,5860000.00,4090000.00,8978615.38
972,580000.00,260000.00,0.000000e+00,0.00,0.0,4000000.0,0.00,0.00,0.0,0.00,...,1000000.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,8500000.00
973,6000.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
974,0.00,0.00,4.000000e+06,0.00,4600000.0,2800000.0,4400000.00,2050000.00,5300000.0,4000000.00,...,2000000.0,2000000.0,2000000.00,2000000.00,2000000.0,2000000.00,2000000.00,2000000.00,2000000.00,2000000.00
975,1000000.00,400000.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,1420000.0,1420000.0,1420000.00,1420000.00,1420000.0,1420000.00,1420000.00,1420000.00,1420000.00,1420000.00
976,0.00,0.00,0.000000e+00,0.00,0.0,0.0,600000.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
977,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,68000.00,932000.00,0.0,0.00,1600000.00,0.00,0.00,600000.00
978,25000000.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
979,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,20000.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
980,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
981,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
982,10000000.00,1933333.34,3.000000e+04,46000.00,0.0,0.0,6500000.00,0.00,0.0,20000000.00,...,0.0,0.0,10000.00,1000000.00,1462000.0,0.00,11326666.66,32860000.00,30000000.00,0.00
983,0.00,30000000.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
984,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,22000.0,0.00,...,0.0,210000.0,0.00,75000.00,75000.0,75000.00,75000.00,75000.00,75000.00,75000.00
985,3400000.00,1600000.00,8.000000e+05,1866666.66,450000.0,0.0,0.00,22000000.00,3200000.0,0.00,...,1250000.0,1250000.0,1250000.00,1250000.00,1250000.0,1250000.00,1250000.00,1250000.00,1250000.00,1250000.00
986,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,156720.00,0.00,0.00,0.00,0.00
987,0.00,200000.00,0.000000e+00,0.00,17000000.0,5700000.0,4000000.00,0.00,350000.0,350000.00,...,350000.0,350000.0,350000.00,350000.00,350000.0,350000.00,350000.00,350000.00,350000.00,350000.00
988,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
989,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,8000000.00,...,4000000.0,4000000.0,4000000.00,4000000.00,4000000.0,4000000.00,4000000.00,4000000.00,4000000.00,4000000.00
990,0.00,0.00,0.000000e+00,12000000.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,2000000.0,0.00,0.00,0.0,280000.00,0.00,3900000.00,0.00,0.00
991,7200000.00,0.00,1.400000e+07,0.00,0.0,2760000.0,1900000.00,15000000.00,0.0,0.00,...,0.0,0.0,240000.00,410000.00,0.0,1658333.34,4000000.00,3043333.34,0.00,2000000.00
992,75000.00,10000000.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
993,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,25000000.00,...,0.0,0.0,0.00,0.00,46600000.0,0.00,0.00,0.00,0.00,0.00
994,2000000.00,0.00,0.000000e+00,10000000.00,10000000.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
995,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
996,0.00,206666.66,1.056500e+06,430000.00,1320000.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
997,240000.00,460000.00,3.196120e+08,0.00,0.0,0.0,0.00,0.00,0.0,1000000.00,...,816500.0,19552000.0,385500.00,7443333.34,35000000.0,6208000.00,800000.00,67756000.00,830000.00,6000000.00
998,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
999,0.00,0.00,0.000000e+00,0.00,0.0,1650000.0,0.00,0.00,3200000.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
1000,0.00,0.00,0.000000e+00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00

In [33]:
d1 = subset[FEATURES[:-2]].apply(tuple, axis=1).to_frame().rename(columns={0: 'key'})
d1

                                                    key
0     (1866666.66, 12066666.66, 700000.0, 600000.0, ...
1     (0.0, 2850000.0, 2225000.0, 1800000.0, 800000....
2     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6000000.0,...
3     (2000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4     (0.0, 0.0, 0.0, 0.0, 37662000.0, 0.0, 4000000....
5     (0.0, 0.0, 2800000.0, 17000000.0, 0.0, 556000....
6     (10000.0, 4000.0, 0.0, 30000.0, 0.0, 0.0, 0.0,...
7     (0.0, 0.0, 0.0, 65000000.0, 0.0, 0.0, 0.0, 0.0...
8     (3333333.34, 3925333.34, 4000000.0, 0.0, 0.0, ...
9     (7500000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
10    (0.0, 8300000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
11    (11200000.0, 0.0, 0.0, 0.0, 6800000.0, 2800000...
12    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 156000.0, ...
13    (3300000.0, 0.0, 8800000.0, 0.0, 0.0, 0.0, 0.0...
14    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
15    (0.0, 0.0, 0.0, 72000.0, 0.0, 0.0, 0.0, 0.0, 0...
16    (20000.0, 200000.0, 400000.0, 0.0, 0.0, 0.0, 0...
17    (700000.0, 0.0, 0.0, 788000.0, 0.0, 0.0, 0.0, ...
18    (0.0, 2324000.0, 2580000.0, 0.0, 0.0, 0.0, 170...
19    (2000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
20    (700000.0, 0.0, 0.0, 0.0, 0.0, 700000.0, 0.0, ...
21    (800000.0, 0.0, 12797000.0, 0.0, 0.0, 0.0, 0.0...
22    (3587000.0, 11515142.86, 12533714.28, 10849666...
23    (0.0, 3665000.0, 0.0, 600000.0, 4098000.0, 114...
24    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
25    (19000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 58000.0, 0....
26    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
27    (0.0, 52820000.0, 1630000.0, 0.0, 0.0, 0.0, 0....
28    (500000.0, 190000.0, 364444.44, 0.0, 0.0, 4000...
29    (0.0, 0.0, 9300000.0, 8000000.0, 37134000.0, 0...
...                                                 ...
971   (0.0, 1050000.0, 1000000.0, 36986000.0, 0.0, 0...
972   (580000.0, 260000.0, 0.0, 0.0, 0.0, 4000000.0,...
973   (6000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....
974   (0.0, 0.0, 4000000.0, 0.0, 4600000.0, 2800000....
975   (1000000.0, 400000.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
976   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 600000.0, 0.0, ...
977   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
978   (25000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
979   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
980   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
981   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
982   (10000000.0, 1933333.34, 30000.0, 46000.0, 0.0...
983   (0.0, 30000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
984   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22000...
985   (3400000.0, 1600000.0, 800000.0, 1866666.66, 4...
986   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
987   (0.0, 200000.0, 0.0, 0.0, 17000000.0, 5700000....
988   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
989   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
990   (0.0, 0.0, 0.0, 12000000.0, 0.0, 0.0, 0.0, 0.0...
991   (7200000.0, 0.0, 14000000.0, 0.0, 0.0, 2760000...
992   (75000.0, 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
993   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
994   (2000000.0, 0.0, 0.0, 10000000.0, 10000000.0, ...
995   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
996   (0.0, 206666.66, 1056500.0, 430000.0, 1320000....
997   (240000.0, 460000.0, 319612000.0, 0.0, 0.0, 0....
998   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
999   (0.0, 0.0, 0.0, 0.0, 0.0, 1650000.0, 0.0, 0.0,...
1000  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[1001 rows x 1 columns]

In [35]:
d2 = subset[FEATURES[2:]].apply(tuple, axis=1).to_frame().rename(columns={0: 'key'})
d2

                                                    key
0     (700000.0, 600000.0, 900000.0, 4100000.0, 0.0,...
1     (2225000.0, 1800000.0, 800000.0, 0.0, 0.0, 330...
2     (0.0, 0.0, 0.0, 0.0, 0.0, 6000000.0, 0.0, 0.0,...
3     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4     (0.0, 0.0, 37662000.0, 0.0, 4000000.0, 6700000...
5     (2800000.0, 17000000.0, 0.0, 556000.0, 0.0, 0....
6     (0.0, 30000.0, 0.0, 0.0, 0.0, 4000.0, 0.0, 200...
7     (0.0, 65000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
8     (4000000.0, 0.0, 0.0, 0.0, 58000.0, 58000.0, 5...
9     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
10    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
11    (0.0, 0.0, 6800000.0, 2800000.0, 0.0, 0.0, 0.0...
12    (0.0, 0.0, 0.0, 0.0, 0.0, 156000.0, 0.0, 20000...
13    (8800000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2460...
14    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
15    (0.0, 72000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...
16    (400000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7000.0, 0....
17    (0.0, 788000.0, 0.0, 0.0, 0.0, 1600000.0, 0.0,...
18    (2580000.0, 0.0, 0.0, 0.0, 1700000.0, 0.0, 0.0...
19    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20    (0.0, 0.0, 0.0, 700000.0, 0.0, 0.0, 0.0, 0.0, ...
21    (12797000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 400...
22    (12533714.28, 10849666.66, 16564400.0, 5198000...
23    (0.0, 600000.0, 4098000.0, 1148000.0, 0.0, 0.0...
24    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
25    (0.0, 0.0, 0.0, 0.0, 58000.0, 0.0, 0.0, 0.0, 0...
26    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
27    (1630000.0, 0.0, 0.0, 0.0, 0.0, 200000.0, 0.0,...
28    (364444.44, 0.0, 0.0, 400000.0, 0.0, 200000.0,...
29    (9300000.0, 8000000.0, 37134000.0, 0.0, 0.0, 0...
...                                                 ...
971   (1000000.0, 36986000.0, 0.0, 0.0, 1200000.0, 0...
972   (0.0, 0.0, 0.0, 4000000.0, 0.0, 0.0, 0.0, 0.0,...
973   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
974   (4000000.0, 0.0, 4600000.0, 2800000.0, 4400000...
975   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
976   (0.0, 0.0, 0.0, 0.0, 600000.0, 0.0, 0.0, 0.0, ...
977   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
978   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
979   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
980   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
981   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
982   (30000.0, 46000.0, 0.0, 0.0, 6500000.0, 0.0, 0...
983   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
984   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22000.0, 0.0, 0...
985   (800000.0, 1866666.66, 450000.0, 0.0, 0.0, 220...
986   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
987   (0.0, 0.0, 17000000.0, 5700000.0, 4000000.0, 0...
988   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
989   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8000000.0,...
990   (0.0, 12000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
991   (14000000.0, 0.0, 0.0, 2760000.0, 1900000.0, 1...
992   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
993   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 25000000.0...
994   (0.0, 10000000.0, 10000000.0, 0.0, 0.0, 0.0, 0...
995   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
996   (1056500.0, 430000.0, 1320000.0, 0.0, 0.0, 0.0...
997   (319612000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10...
998   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
999   (0.0, 0.0, 0.0, 1650000.0, 0.0, 0.0, 3200000.0...
1000  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[1001 rows x 1 columns]

In [36]:
d2['pred'] = subset[FEATURES[2 - 2]]
d2

                                                    key         pred
0     (700000.0, 600000.0, 900000.0, 4100000.0, 0.0,...   1866666.66
1     (2225000.0, 1800000.0, 800000.0, 0.0, 0.0, 330...         0.00
2     (0.0, 0.0, 0.0, 0.0, 0.0, 6000000.0, 0.0, 0.0,...         0.00
3     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   2000000.00
4     (0.0, 0.0, 37662000.0, 0.0, 4000000.0, 6700000...         0.00
5     (2800000.0, 17000000.0, 0.0, 556000.0, 0.0, 0....         0.00
6     (0.0, 30000.0, 0.0, 0.0, 0.0, 4000.0, 0.0, 200...     10000.00
7     (0.0, 65000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...         0.00
8     (4000000.0, 0.0, 0.0, 0.0, 58000.0, 58000.0, 5...   3333333.34
9     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   7500000.00
10    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
11    (0.0, 0.0, 6800000.0, 2800000.0, 0.0, 0.0, 0.0...  11200000.00
12    (0.0, 0.0, 0.0, 0.0, 0.0, 156000.0, 0.0, 20000...         0.00
13    (8800000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2460...   3300000.00
14    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
15    (0.0, 72000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...         0.00
16    (400000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7000.0, 0....     20000.00
17    (0.0, 788000.0, 0.0, 0.0, 0.0, 1600000.0, 0.0,...    700000.00
18    (2580000.0, 0.0, 0.0, 0.0, 1700000.0, 0.0, 0.0...         0.00
19    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   2000000.00
20    (0.0, 0.0, 0.0, 700000.0, 0.0, 0.0, 0.0, 0.0, ...    700000.00
21    (12797000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 400...    800000.00
22    (12533714.28, 10849666.66, 16564400.0, 5198000...   3587000.00
23    (0.0, 600000.0, 4098000.0, 1148000.0, 0.0, 0.0...         0.00
24    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
25    (0.0, 0.0, 0.0, 0.0, 58000.0, 0.0, 0.0, 0.0, 0...     19000.00
26    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
27    (1630000.0, 0.0, 0.0, 0.0, 0.0, 200000.0, 0.0,...         0.00
28    (364444.44, 0.0, 0.0, 400000.0, 0.0, 200000.0,...    500000.00
29    (9300000.0, 8000000.0, 37134000.0, 0.0, 0.0, 0...         0.00
...                                                 ...          ...
971   (1000000.0, 36986000.0, 0.0, 0.0, 1200000.0, 0...         0.00
972   (0.0, 0.0, 0.0, 4000000.0, 0.0, 0.0, 0.0, 0.0,...    580000.00
973   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...      6000.00
974   (4000000.0, 0.0, 4600000.0, 2800000.0, 4400000...         0.00
975   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   1000000.00
976   (0.0, 0.0, 0.0, 0.0, 600000.0, 0.0, 0.0, 0.0, ...         0.00
977   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
978   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  25000000.00
979   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
980   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
981   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
982   (30000.0, 46000.0, 0.0, 0.0, 6500000.0, 0.0, 0...  10000000.00
983   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
984   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22000.0, 0.0, 0...         0.00
985   (800000.0, 1866666.66, 450000.0, 0.0, 0.0, 220...   3400000.00
986   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
987   (0.0, 0.0, 17000000.0, 5700000.0, 4000000.0, 0...         0.00
988   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
989   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8000000.0,...         0.00
990   (0.0, 12000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...         0.00
991   (14000000.0, 0.0, 0.0, 2760000.0, 1900000.0, 1...   7200000.00
992   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...     75000.00
993   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 25000000.0...         0.00
994   (0.0, 10000000.0, 10000000.0, 0.0, 0.0, 0.0, 0...   2000000.00
995   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
996   (1056500.0, 430000.0, 1320000.0, 0.0, 0.0, 0.0...         0.00
997   (319612000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10...    240000.00
998   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00
999   (0.0, 0.0, 0.0, 1650000.0, 0.0, 0.0, 3200000.0...         0.00
1000  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         0.00

[1001 rows x 2 columns]

In [37]:
d2 = d2[d2.pred != 0]
d2

                                                   key          pred
0    (700000.0, 600000.0, 900000.0, 4100000.0, 0.0,...  1.866667e+06
3    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  2.000000e+06
6    (0.0, 30000.0, 0.0, 0.0, 0.0, 4000.0, 0.0, 200...  1.000000e+04
8    (4000000.0, 0.0, 0.0, 0.0, 58000.0, 58000.0, 5...  3.333333e+06
9    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  7.500000e+06
11   (0.0, 0.0, 6800000.0, 2800000.0, 0.0, 0.0, 0.0...  1.120000e+07
13   (8800000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2460...  3.300000e+06
16   (400000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7000.0, 0....  2.000000e+04
17   (0.0, 788000.0, 0.0, 0.0, 0.0, 1600000.0, 0.0,...  7.000000e+05
19   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  2.000000e+06
20   (0.0, 0.0, 0.0, 700000.0, 0.0, 0.0, 0.0, 0.0, ...  7.000000e+05
21   (12797000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 400...  8.000000e+05
22   (12533714.28, 10849666.66, 16564400.0, 5198000...  3.587000e+06
25   (0.0, 0.0, 0.0, 0.0, 58000.0, 0.0, 0.0, 0.0, 0...  1.900000e+04
28   (364444.44, 0.0, 0.0, 400000.0, 0.0, 200000.0,...  5.000000e+05
35   (0.0, 0.0, 0.0, 1000000.0, 2100000.0, 3000000....  1.400000e+06
39   (2500000.0, 0.0, 8000000.0, 0.0, 0.0, 0.0, 0.0...  7.000000e+06
40   (20000000.0, 20000000.0, 0.0, 0.0, 0.0, 150000...  2.000000e+07
43   (10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...  6.000000e+06
44   (2590000.0, 2575000.0, 6420000.0, 1408000.0, 3...  1.705733e+07
45   (12000.0, 0.0, 0.0, 18284000.0, 70000.0, 50000...  1.600000e+07
48   (1400000.0, 700000.0, 2000000.0, 2660000.0, 0....  1.200000e+06
53   (6000000.0, 4000000.0, 0.0, 3000000.0, 6000000...  4.000000e+06
58   (0.0, 0.0, 0.0, 400000.0, 0.0, 0.0, 0.0, 0.0, ...  1.933333e+05
60   (0.0, 1635600.0, 0.0, 4000000.0, 10000000.0, 4...  1.021000e+06
64   (0.0, 950000.0, 0.0, 0.0, 1733333.34, 0.0, 132...  6.050000e+06
66   (0.0, 15000000.0, 0.0, 7020000.0, 2333333.34, ...  6.000000e+06
67   (0.0, 0.0, 0.0, 1400000.0, 1000000.0, 0.0, 0.0...  4.000000e+06
68   (5764571.42, 0.0, 0.0, 0.0, 3005000.0, 2586000...  8.120667e+06
69   (0.0, 0.0, 0.0, 0.0, 0.0, 16000000.0, 0.0, 0.0...  1.000000e+07
..                                                 ...           ...
908  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  8.800000e+04
909  (0.0, 0.0, 0.0, 0.0, 2450000.0, 0.0, 0.0, 0.0,...  9.800000e+05
912  (1493200.0, 1238000.0, 837200.0, 8567333.34, 1...  1.134000e+06
917  (2352800.0, 2436000.0, 2202000.0, 0.0, 1470666...  1.822000e+06
921  (0.0, 448666.66, 406000.0, 609200.0, 528666.66...  6.066666e+04
923  (0.0, 700000.0, 0.0, 1066666.66, 0.0, 400000.0...  5.000000e+06
924  (9180000.0, 2690000.0, 0.0, 7146000.0, 5937000...  9.948000e+06
925  (100000.0, 0.0, 0.0, 34000.0, 10000.0, 0.0, 0....  9.250000e+04
933  (0.0, 0.0, 0.0, 738000.0, 0.0, 334000.0, 68000...  2.480000e+05
938  (0.0, 0.0, 0.0, 0.0, 2000000.0, 0.0, 20000000....  8.000000e+06
941  (45714285.72, 50000000.0, 33333333.34, 5000000...  2.600000e+07
943  (4005500.0, 1554666.66, 42000.0, 282333.34, 10...  1.117913e+08
945  (2318285.72, 14000000.0, 0.0, 2200000.0, 0.0, ...  7.408000e+06
950  (7000000.0, 6000000.0, 17920000.0, 0.0, 0.0, 0...  9.500000e+05
955  (3938750.0, 2994000.0, 3453333.34, 3193600.0, ...  1.612000e+06
957  (0.0, 0.0, 0.0, 214000.0, 0.0, 0.0, 0.0, 34200...  5.333333e+06
961  (60000.0, 0.0, 371333.34, 0.0, 2000.0, 2000.0,...  3.660000e+05
964  (20000000.0, 0.0, 0.0, 20000000.0, 0.0, 200000...  2.000000e+07
966  (23333.34, 0.0, 150000.0, 0.0, 0.0, 0.0, 13263...  7.510000e+06
970  (3633333.34, 0.0, 0.0, 0.0, 4000000.0, 0.0, 28...  2.000000e+06
972  (0.0, 0.0, 0.0, 4000000.0, 0.0, 0.0, 0.0, 0.0,...  5.800000e+05
973  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  6.000000e+03
975  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  1.000000e+06
978  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  2.500000e+07
982  (30000.0, 46000.0, 0.0, 0.0, 6500000.0, 0.0, 0...  1.000000e+07
985  (800000.0, 1866666.66, 450000.0, 0.0, 0.0, 220...  3.400000e+06
991  (14000000.0, 0.0, 0.0, 2760000.0, 1900000.0, 1...  7.200000e+06
992  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  7.500000e+04
994  (0.0, 10000000.0, 10000000.0, 0.0, 0.0, 0.0, 0...  2.000000e+06
997  (319612000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10...  2.400000e+05

[349 rows x 2 columns]

In [38]:
d3 = d2[~d2.duplicated(['key'], keep=False)]
d3

                                                   key          pred
0    (700000.0, 600000.0, 900000.0, 4100000.0, 0.0,...  1.866667e+06
6    (0.0, 30000.0, 0.0, 0.0, 0.0, 4000.0, 0.0, 200...  1.000000e+04
8    (4000000.0, 0.0, 0.0, 0.0, 58000.0, 58000.0, 5...  3.333333e+06
9    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  7.500000e+06
11   (0.0, 0.0, 6800000.0, 2800000.0, 0.0, 0.0, 0.0...  1.120000e+07
13   (8800000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2460...  3.300000e+06
16   (400000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7000.0, 0....  2.000000e+04
17   (0.0, 788000.0, 0.0, 0.0, 0.0, 1600000.0, 0.0,...  7.000000e+05
19   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  2.000000e+06
20   (0.0, 0.0, 0.0, 700000.0, 0.0, 0.0, 0.0, 0.0, ...  7.000000e+05
21   (12797000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 400...  8.000000e+05
22   (12533714.28, 10849666.66, 16564400.0, 5198000...  3.587000e+06
25   (0.0, 0.0, 0.0, 0.0, 58000.0, 0.0, 0.0, 0.0, 0...  1.900000e+04
28   (364444.44, 0.0, 0.0, 400000.0, 0.0, 200000.0,...  5.000000e+05
35   (0.0, 0.0, 0.0, 1000000.0, 2100000.0, 3000000....  1.400000e+06
39   (2500000.0, 0.0, 8000000.0, 0.0, 0.0, 0.0, 0.0...  7.000000e+06
40   (20000000.0, 20000000.0, 0.0, 0.0, 0.0, 150000...  2.000000e+07
43   (10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...  6.000000e+06
44   (2590000.0, 2575000.0, 6420000.0, 1408000.0, 3...  1.705733e+07
45   (12000.0, 0.0, 0.0, 18284000.0, 70000.0, 50000...  1.600000e+07
48   (1400000.0, 700000.0, 2000000.0, 2660000.0, 0....  1.200000e+06
53   (6000000.0, 4000000.0, 0.0, 3000000.0, 6000000...  4.000000e+06
58   (0.0, 0.0, 0.0, 400000.0, 0.0, 0.0, 0.0, 0.0, ...  1.933333e+05
60   (0.0, 1635600.0, 0.0, 4000000.0, 10000000.0, 4...  1.021000e+06
64   (0.0, 950000.0, 0.0, 0.0, 1733333.34, 0.0, 132...  6.050000e+06
66   (0.0, 15000000.0, 0.0, 7020000.0, 2333333.34, ...  6.000000e+06
67   (0.0, 0.0, 0.0, 1400000.0, 1000000.0, 0.0, 0.0...  4.000000e+06
68   (5764571.42, 0.0, 0.0, 0.0, 3005000.0, 2586000...  8.120667e+06
69   (0.0, 0.0, 0.0, 0.0, 0.0, 16000000.0, 0.0, 0.0...  1.000000e+07
70   (7012000.0, 2026000.0, 190000.0, 42000.0, 0.0,...  1.390000e+07
..                                                 ...           ...
904  (0.0, 3010500.0, 2308000.0, 3785000.0, 3743666...  3.551600e+06
906  (30000.0, 60000.0, 130000.0, 0.0, 0.0, 100000....  2.000000e+04
907  (5300000.0, 4000000.0, 2200000.0, 2000000.0, 6...  4.400000e+06
908  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  8.800000e+04
909  (0.0, 0.0, 0.0, 0.0, 2450000.0, 0.0, 0.0, 0.0,...  9.800000e+05
912  (1493200.0, 1238000.0, 837200.0, 8567333.34, 1...  1.134000e+06
917  (2352800.0, 2436000.0, 2202000.0, 0.0, 1470666...  1.822000e+06
921  (0.0, 448666.66, 406000.0, 609200.0, 528666.66...  6.066666e+04
923  (0.0, 700000.0, 0.0, 1066666.66, 0.0, 400000.0...  5.000000e+06
924  (9180000.0, 2690000.0, 0.0, 7146000.0, 5937000...  9.948000e+06
925  (100000.0, 0.0, 0.0, 34000.0, 10000.0, 0.0, 0....  9.250000e+04
933  (0.0, 0.0, 0.0, 738000.0, 0.0, 334000.0, 68000...  2.480000e+05
938  (0.0, 0.0, 0.0, 0.0, 2000000.0, 0.0, 20000000....  8.000000e+06
941  (45714285.72, 50000000.0, 33333333.34, 5000000...  2.600000e+07
943  (4005500.0, 1554666.66, 42000.0, 282333.34, 10...  1.117913e+08
945  (2318285.72, 14000000.0, 0.0, 2200000.0, 0.0, ...  7.408000e+06
950  (7000000.0, 6000000.0, 17920000.0, 0.0, 0.0, 0...  9.500000e+05
955  (3938750.0, 2994000.0, 3453333.34, 3193600.0, ...  1.612000e+06
957  (0.0, 0.0, 0.0, 214000.0, 0.0, 0.0, 0.0, 34200...  5.333333e+06
961  (60000.0, 0.0, 371333.34, 0.0, 2000.0, 2000.0,...  3.660000e+05
964  (20000000.0, 0.0, 0.0, 20000000.0, 0.0, 200000...  2.000000e+07
966  (23333.34, 0.0, 150000.0, 0.0, 0.0, 0.0, 13263...  7.510000e+06
970  (3633333.34, 0.0, 0.0, 0.0, 4000000.0, 0.0, 28...  2.000000e+06
972  (0.0, 0.0, 0.0, 4000000.0, 0.0, 0.0, 0.0, 0.0,...  5.800000e+05
975  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  1.000000e+06
982  (30000.0, 46000.0, 0.0, 0.0, 6500000.0, 0.0, 0...  1.000000e+07
985  (800000.0, 1866666.66, 450000.0, 0.0, 0.0, 220...  3.400000e+06
991  (14000000.0, 0.0, 0.0, 2760000.0, 1900000.0, 1...  7.200000e+06
994  (0.0, 10000000.0, 10000000.0, 0.0, 0.0, 0.0, 0...  2.000000e+06
997  (319612000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10...  2.400000e+05

[329 rows x 2 columns]

In [40]:
d1.merge(d3, how='left', on='key')

                                                    key         pred
0     (1866666.66, 12066666.66, 700000.0, 600000.0, ...          NaN
1     (0.0, 2850000.0, 2225000.0, 1800000.0, 800000....          NaN
2     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6000000.0,...          NaN
3     (2000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...          NaN
4     (0.0, 0.0, 0.0, 0.0, 37662000.0, 0.0, 4000000....          NaN
5     (0.0, 0.0, 2800000.0, 17000000.0, 0.0, 556000....          NaN
6     (10000.0, 4000.0, 0.0, 30000.0, 0.0, 0.0, 0.0,...          NaN
7     (0.0, 0.0, 0.0, 65000000.0, 0.0, 0.0, 0.0, 0.0...    600000.00
8     (3333333.34, 3925333.34, 4000000.0, 0.0, 0.0, ...          NaN
9     (7500000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...          NaN
10    (0.0, 8300000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...          NaN
11    (11200000.0, 0.0, 0.0, 0.0, 6800000.0, 2800000...          NaN
12    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 156000.0, ...          NaN
13    (3300000.0, 0.0, 8800000.0, 0.0, 0.0, 0.0, 0.0...   7000000.00
14    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
15    (0.0, 0.0, 0.0, 72000.0, 0.0, 0.0, 0.0, 0.0, 0...          NaN
16    (20000.0, 200000.0, 400000.0, 0.0, 0.0, 0.0, 0...          NaN
17    (700000.0, 0.0, 0.0, 788000.0, 0.0, 0.0, 0.0, ...          NaN
18    (0.0, 2324000.0, 2580000.0, 0.0, 0.0, 0.0, 170...          NaN
19    (2000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...          NaN
20    (700000.0, 0.0, 0.0, 0.0, 0.0, 700000.0, 0.0, ...          NaN
21    (800000.0, 0.0, 12797000.0, 0.0, 0.0, 0.0, 0.0...          NaN
22    (3587000.0, 11515142.86, 12533714.28, 10849666...          NaN
23    (0.0, 3665000.0, 0.0, 600000.0, 4098000.0, 114...  14886000.00
24    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
25    (19000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 58000.0, 0....          NaN
26    (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
27    (0.0, 52820000.0, 1630000.0, 0.0, 0.0, 0.0, 0....          NaN
28    (500000.0, 190000.0, 364444.44, 0.0, 0.0, 4000...          NaN
29    (0.0, 0.0, 9300000.0, 8000000.0, 37134000.0, 0...          NaN
...                                                 ...          ...
971   (0.0, 1050000.0, 1000000.0, 36986000.0, 0.0, 0...          NaN
972   (580000.0, 260000.0, 0.0, 0.0, 0.0, 4000000.0,...          NaN
973   (6000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....          NaN
974   (0.0, 0.0, 4000000.0, 0.0, 4600000.0, 2800000....          NaN
975   (1000000.0, 400000.0, 0.0, 0.0, 0.0, 0.0, 0.0,...          NaN
976   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 600000.0, 0.0, ...          NaN
977   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
978   (25000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...  27777777.78
979   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
980   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
981   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
982   (10000000.0, 1933333.34, 30000.0, 46000.0, 0.0...          NaN
983   (0.0, 30000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...          NaN
984   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22000...          NaN
985   (3400000.0, 1600000.0, 800000.0, 1866666.66, 4...          NaN
986   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
987   (0.0, 200000.0, 0.0, 0.0, 17000000.0, 5700000....          NaN
988   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
989   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
990   (0.0, 0.0, 0.0, 12000000.0, 0.0, 0.0, 0.0, 0.0...          NaN
991   (7200000.0, 0.0, 14000000.0, 0.0, 0.0, 2760000...          NaN
992   (75000.0, 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0,...          NaN
993   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
994   (2000000.0, 0.0, 0.0, 10000000.0, 10000000.0, ...          NaN
995   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
996   (0.0, 206666.66, 1056500.0, 430000.0, 1320000....          NaN
997   (240000.0, 460000.0, 319612000.0, 0.0, 0.0, 0....          NaN
998   (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN
999   (0.0, 0.0, 0.0, 0.0, 0.0, 1650000.0, 0.0, 0.0,...          NaN
1000  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          NaN

[1001 rows x 2 columns]

In [16]:
pred = get_pred(train.loc[:10, :])

In [17]:
pred

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: pred, dtype: float64

In [15]:
train.loc[:10, :]

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0028cbf45,2000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,002a68644,14400000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
5,002dbeb22,2800000.0,0.0,0,0.0,0,0,0,0,0,...,12000.0,5600000.0,20000000.0,0,0,0,0,0,0,11000
6,003925ac6,164000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,40000,0,0,0
7,003eb0261,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
8,004b92275,979000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,4000000.0,0,0,0,0,0,0,0
9,0067b4fef,460000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,400000
10,00689ee2c,1100000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,400000.0,0,0,0,0,0,0,0